.app {
  display: grid;
  place-items: center;

  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -20px;
  height: 95vh;
  width: 75vw;
  box-shadow: -1px 4px 20px -6px black;
}